/* login.css */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F4ECF7;
    color: #616A6B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 350px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #616A6B;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    background-color: #F8F9F9;
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #2E86C1;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #21618C;
}

#errorMessage {
    text-align: center;
    font-weight: bold;
    color: #E74C3C;
}
