/* produtos.css */

/* Estilo geral do corpo e navbar */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F8F9F9;
    color: #616A6B;
    margin: 0;
    display: flex;
    height: 100vh;
}

.navbar {
    width: 250px;
    background-color: #2E86C1;
    color: #FFFFFF;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.navbar-list {
    list-style: none;
    padding: 0;
}

.navbar-list li {
    margin-bottom: 20px;
}

.navbar-list li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.navbar-list li a:hover {
    color: #AED6F1;
}

/* Conteúdo principal */
main {
    margin-left: 270px; /* Espaço para a navbar */
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    color: #2E86C1;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Barra de pesquisa de produtos */
#pesquisar-produto {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
}

/* Lista de produtos */
#produtos-list {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* Formulário de adicionar produtos */
#produto-form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#produto-form input {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    width: 100%;
}

#produto-form button {
    align-self: flex-end;
    background-color: #2E86C1;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#produto-form button:hover {
    background-color: #21618C;
    transform: scale(1.05);
}
